{% load static %}
<div class="col-lg-6 m-b30">
    <div class="widget-box">
        <div class="wc-title">
            <h4>Recent Applications</h4>
        </div>
        <div class="widget-inner">
            <div class="new-user-list">
                <ul>
                    <li>
                        <span class="new-users-pic">
                            <img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt=""/>
                        </span>
                        <span class="new-users-text">
                            <a href="#" class="new-users-name">Anna Strong </a>
                            <span class="new-users-info">Visual Designer,Google Inc </span>
                        </span>
                        <span class="new-users-btn">
                            <a href="#" class="btn button-sm outline">Follow</a>
                        </span>
                    </li>
                    <li>
                        <span class="new-users-pic">
                            <img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt=""/>
                        </span>
                        <span class="new-users-text">
                            <a href="#" class="new-users-name"> Milano Esco </a>
                            <span class="new-users-info">Product Designer, Apple Inc </span>
                        </span>
                        <span class="new-users-btn">
                            <a href="#" class="btn button-sm outline">Follow</a>
                        </span>
                    </li>
                    <li>
                        <span class="new-users-pic">
                            <img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt=""/>
                        </span>
                        <span class="new-users-text">
                            <a href="#" class="new-users-name">Nick Bold  </a>
                            <span class="new-users-info">Web Developer, Facebook Inc </span>
                        </span>
                        <span class="new-users-btn">
                            <a href="#" class="btn button-sm outline">Follow</a>
                        </span>
                    </li>
                    <li>
                        <span class="new-users-pic">
                            <img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt=""/>
                        </span>
                        <span class="new-users-text">
                            <a href="#" class="new-users-name">Wiltor Delton </a>
                            <span class="new-users-info">Project Manager, Amazon Inc </span>
                        </span>
                        <span class="new-users-btn">
                            <a href="#" class="btn button-sm outline">Follow</a>
                        </span>
                    </li>
                    <li>
                        <span class="new-users-pic">
                            <img src="{% static 'assets/images/testimonials/pic3.jpg' %}" alt=""/>
                        </span>
                        <span class="new-users-text">
                            <a href="#" class="new-users-name">Nick Stone </a>
                            <span class="new-users-info">Project Manager, Amazon Inc  </span>
                        </span>
                        <span class="new-users-btn">
                            <a href="#" class="btn button-sm outline">Follow</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>