{% load humanize %}

<div class="row">
    <!-- Your Profile Views Chart -->
    <div class="col-lg-6 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>New Users</h4>
            </div>
            <div class="widget-inner">
                <div class="new-user-list">
                    <ul>
                        
                        <li>
                            <span class="new-users-pic">
                                <img src="" alt=""/>
                            </span>
                            <span class="new-users-text">
                                <a href="#" class="new-users-name"> </a>
                                <span class="new-users-info"> </span>
                            </span>
                            <span class="new-users-btn">
                                <a href="#" class="btn button-sm outline">View Profile</a>
                            </span>
                        </li>
                        
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 m-b30">
        <div class="widget-box">
            <div class="wc-title">
                <h4>Income and Expenditure </h4>
            </div>
            <div class="widget-inner">
                <div class="orders-list">
                    <ul>
                       
                        
                         
                                <li>
                                    <span class="orders-title">
                                        <a href="#" class="orders-title-name"> </a>
                                        <span class="orders-info">Added: </span>
                                    </span>
                                    <span class="orders-btn">
                                        <a href="#" class="btn button-sm green">Income</a>
                                    </span>
                                </li>

                      

                        
                        {% for expense in expenses %}

                        <li>
                            <span class="orders-title">
                                <a href="#" class="orders-title-name">{{expense.description}}</a>
                                <span class="orders-info">Added: {{ expense.addedDate|naturaltime}} | Date: {{expense.date}}</span>
                            </span>
                            <span class="orders-btn">
                                <a href="#" class="btn button-sm red">Expenses</a>
                            </span>
                        </li>

                        {% endfor %}
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
 
    
</div>